// Variable
@import '../../style/variables/variables';

.fade {
    opacity: 0;
    transition: opacity 1s;
}
.visible {
    opacity: 1;
}

.containerCv {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    padding: 40px;
    border-radius: 15px;
    width: auto;
    height: auto;
    background-color: $bgColorMain;
    box-shadow: inset 0px 0px 20px $boxShadowMain, 0px 0px 20px $boxShadowfooter;
    &__img {
        border-radius: 15px;
        max-width: 100%;
        width: 100%;
        height: auto;
    }
}

/******* Media queries **********/
/*  Small devices (tablets, less than 511px)  */
@media (max-width: 510px) {
    .containerCv {
      padding: 16px;
    }
}