// Variables
@import '../../style/variables/variables';

.fade {
    opacity: 0;
    transition: opacity 1s;
}
.visible {
    opacity: 1;
}

.containerPageError {
    font-family: $font-roboto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    padding: 40px;
    border-radius: 15px;
    width: auto;
    height: 658px;
    background-color: $bgColorMain;
    box-shadow: inset 0px 0px 20px $boxShadowMain, 0px 0px 20px $boxShadowfooter;
    &__title {
        font-size: 288px;
    }
    &__text {
        font-size: 36px;
        text-align: center;
    }
}


/******* Media queries **********/
/*  Small devices (tablets, less than 601px)  */
@media (max-width: 600px) {
    .containerPageError {
        padding: 20px;
        &__title {
            font-size: 100px;
        }
        &__text {
            font-size: 16px;     
        }
    }
}