// Variable
@import '../../style/variables/variables';

.fade {
    opacity: 0;
    transition: opacity 1s;
}
.visible {
    opacity: 1;
}

.containerHome {
    margin-top: 70px;
    padding: 40px;
    border-radius: 15px;
    width: auto;
    height: auto;
    background-color: $bgColorMain;
    box-shadow: inset 0px 0px 20px $boxShadowMain, 0px 0px 20px $boxShadowfooter;
    font-weight: 500;
    display: flex;
    &__titleText {
        width: calc(50% - 20px);
    }
    &__socials {
        width: calc(50% - 20px);
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/******* Media queries **********/
/*  Small devices (tablets, less than 1057px)  */
@media (max-width: 1056px) {
    .containerHome {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        &__socials {
            width: auto;
        }
    }
}

/*  Small devices (tablets, less than 511px)  */
@media (max-width: 510px) {
    .containerHome {
        &__titleText {
            &--text {
                font-size: 16px;
            }  
        }
    }
}

/*  Small devices (phones, less than 346px)  */
@media (max-width: 345px) {
    h2 {
        font-size: 25px;
    }
}
