// Font-size
$font-museoModerno : "MuseoModerno", sans-serif;
$font-roboto : "Roboto", sans-serif;

// Color
$colorFontSizeHeader: #378712;
$colorFontSizeButton: #FFFFFF;

// BackgroundColor
$bgColorBtn: #646060;
$bgColorMain: #5b6e5b;
$bgColorFooter: rgb(30, 8, 90);

// Box-shadow
$boxShadowMain: rgb(100, 90, 90);
$boxShadowfooter: #252531;
