// Font-size
$font-museoModerno : "MuseoModerno", sans-serif;
$font-roboto : "Roboto", sans-serif;

// Color
$colorFontSizeHeader: #378712;
$colorFontSizeButton: #FFFFFF;

// BackgroundColor
$bgColorBtn: #646060;