// Font-size
$font-museoModerno : "MuseoModerno", sans-serif;
$font-roboto : "Roboto", sans-serif;

// Color
$colorFontSizeHeader: #378712;
$colorFontSizeButton: #FFFFFF;

// BackgroundColor
$bgColorBtn: #646060;
$bgColorMain: #e8e8e8;
$bgColorFooter: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

// Box-shadow
$boxShadowMain: rgb(193, 192, 212);
$boxShadowfooter: #55557a;
