// Variable
@import '../../style/variables/variables';

.containerIconVSC {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 66px;
    height: 66px;
    background-color: $bgColorIconRedux;
    &__icon {
        fill: $colorFontSizeButton;  
    }
}