// Variables
@import '../../style/variables/variables';

footer {
    margin-top: 70px;
}

.containerFooter {
    width: auto;
    height: auto;
    padding: 40px;
    color: $colorFontSizeButton;
    border-radius: 15px;
    background-image: $bgColorFooter;
    box-shadow: inset 0px 0px 20px $boxShadowfooter, 0px 0px 20px $boxShadowfooter;
    &__text {
        display: flex;
        align-items: center;
    }
    &__icon {
        display: flex;
        flex-wrap: wrap;
        gap: 1%;
        border-radius: 10px;
        padding: 15px;
        background-color: $colorFontSizeButton;
    }
}

.iconGitHub {
    color: $colorFontSizeButton;
    margin-left: 8px;
}